<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/prj-corba/src/server/EchoServer_AOM.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="server.EchoServer_AOM"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="prj-corba"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-ORBInitRef NameService=corbaloc::localhost:1050/NameService&#13;&#10;-ORBInitialPort 1050&#13;&#10;-ORBInitialHost localhost"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prj-corba"/>
</launchConfiguration>
