<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/prj-rmi_Clients/src/client/EchoRMI.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="client.EchoRMI"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="prj-rmi_Clients"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="localhost"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="prj-rmi_Clients"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.manager -Djava.security.policy=java.policy -Djava.rmi.server.codebase=file:///c:/ws/prj-rmi_Interfaces/bin/"/>
</launchConfiguration>
