grant {
 permission java.net.SocketPermission "*:1024-65535", "connect,accept,resolve"; 
};
grant codeBase "file:///C:/sdi/-{
 permission java.security.AllPermission "", "";
};